@charset "UTF-8";

@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  src:  url("/fonts/DINPro-CondensedBold.woff2") format("woff2"), 
        url("/fonts/DINPro-CondensedBold.woff") format("woff");
        font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 400;
  src:  url("/fonts/DINPro.woff2") format("woff2"), 
        url("/fonts/DINPro.woff") format("woff");
        font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 500;
  src:  url("/fonts/DINPro-Bold.woff2") format("woff2"), 
        url("/fonts/DINPro-Bold.woff") format("woff");
        font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 600;
  src:  url("/fonts/din_pro_medium.woff2") format("woff2"), 
        url("/fonts/din_pro_medium.woff") format("woff");
        font-display: swap;
}