@font-face {
  font-family: "DINPro";
  src: url('fonts/DINPro.woff2') format('woff2'),
       url('fonts/DINPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DINPro Condensed";
  src: url('fonts/DINPro-CondensedBold.woff2') format('woff2'),
       url('fonts/DINPro-CondensedBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DINPro", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #2F2E3E;
  background-color: #E5E5E5;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1920px;
}

.page-container {
  width: 1920px;
  margin: 0 auto;
  background-color: #F8F9FB;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.span-wrap {
  display: block;
}

.area-of-activity {
  padding: 96px 197px 96px 196px;
}

.section_title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #0055B9;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin: 0 68px 30px;
  position: relative;
}

.section_title::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-bottom: 12px solid #FF0000;
  position: absolute;
  left: -22px;
  top: 5px;
}

.activity_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
}

.big-activity-item {
  grid-row: span 2;
}

.activity-card {
  position: relative;
  text-decoration: none;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  background-color: #0055B9;
  padding: 40px;
  overflow: hidden;
}

.photo_background-1 {
  background-image: url('img/area-of-activity/photo-card_1.png');
  height: 640px;
  width: 763px;
}

.photo_background-2 {
  background-image: url('img/area-of-activity/photo-card_2.png');
  height: 320px;
  width: 763px;
}

.photo_background-3 {
  background-image: url('img/area-of-activity/photo-card_3.png');
  height: 319px;
  width: 763px;
}

.photo_background-4 {
  background-image: url('img/area-of-activity/photo-card_4.png');
  height: 320px;
  width: 763px;
}

.photo_background-5 {
  background-image: url('img/area-of-activity/photo-card_5.png');
  height: 320px;
  width: 763px;
}

.photo_background-6 {
  background-image: url('img/area-of-activity/photo-card_6.png');
  height: 320px;
  width: 763px;
}

.photo_background-7 {
  background-image: url('img/area-of-activity/photo-card_7.png');
  height: 320px;
  width: 763px;
}

.activity-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 85, 185, 0.6); 
  pointer-events: none;
  z-index: 1
}

.about-activity {
  display: flex;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.about-activity span {
  padding: 3px 0;
}

.about-activity svg {
  background-position: center;
  padding: 5px 7px 6px 8px;
  width: 7px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  position: relative; 
  transition: transform 0.3s ease;
}

.activity-title {
  font-family: "DINPro Condensed";
  font-size: 42px;
  line-height: 46px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  margin: auto 40px 20px 0;
}

.title-big-card {
  font-size: 68px;
  line-height: 75px;
  margin: auto 40px 25px 0;
}

.about-activity svg:hover {
  transform: translateX(2px);
}

.activity-card:hover {
  background-image: none; 
  background-color: #DFE4EE; 
}

.activity-card:hover .activity-title {
  color: #2F2E3E;
}

.activity-card:hover .about-activity {
  color: #000000; 
}

.activity-card:hover .about-activity svg {
  border: 1px solid  #B9C8D2;
}

.activity-card:hover .about-activity svg path {
  stroke: #2F2E3E;
}

.activity-card:hover::after {
  content: '';
  position: absolute;
  color: #F8F9FB; 
  font-family: "DINPro Condensed";
  font-size: 270px;
  line-height: 324px;
  font-weight: 700;
  bottom: 0;
  right: 0;
  transform: translate(20px, 68px); 
  z-index: 1;
  pointer-events: none;
}

.photo_background-1:hover::after {
  content: '1';
}

.photo_background-2:hover::after {
  content: '2';
}

.photo_background-3:hover::after {
  content: '3';
}

.photo_background-4:hover::after {
  content: '4';
}

.photo_background-5:hover::after {
  content: '5';
}

.photo_background-6:hover::after {
  content: '6';
}

.photo_background-7:hover::after {
  content: '7';
}

.activity-card:hover::before {
  background-color: transparent; 
}
