@font-face {
  font-family: "DIN Pro bold";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/dinpro_bold.woff2") format("woff2");
  font-display: swap;
}
  
@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/DINPro-CondensedBold.woff2") format("woff2"), 
    url("./fonts/DINPro-CondensedBold.woff") format("woff");
  font-display: swap;
}
  
@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 500;
  
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/DINPro.woff2") format("woff2");
  font-display: swap;
}
  
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
  
body {
  font-family: "DIN Pro";
  font-size: 18px;
  line-height: 27px;
  background-color: #dfe4ee;
  color: #2f2e3e;
  min-width: 1920px;
}
  
.wrapper {
  width: 1529px;
  margin: 0 auto;
}
  
.vacancies {
  padding-left: 20px;
}
  
.details {
  font-family: "DIN Pro bold";
  display: inline;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase; 
  float: right;
  padding-top: 23px;
  padding-right: 10px;
    
}
  
.details:hover {
  transition: margin-left 4s;
  opacity: 0.8;
}
  
.details-up {
  font-family: "DIN Pro bold";
  display: inline;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase; 
  padding-right: 12px;
  float: right;
  padding-top: 27px;
}
  
.details-up-circle {
  padding-top: 33px;
  padding-right: 20px;
  margin-right: 10px;
}
  
.details-up:hover {
  transition: margin-left 4s;
  opacity: 0.8;
}
  
.blue {
  background-color: #0055b9;
  color: #ffffff;
}
  
.button {
  background-color: #0055b9;
  color: #ffffff;
  width: 151px;
  min-height: 36px; 
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px; 
  background-image: url("./img/crumbs.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  margin-top: 5px;
  margin-bottom: -10px;
  cursor: pointer;
  box-sizing: border-box;
}
  
.description {
  opacity: 70%;
  width: 996px;
  padding-bottom: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: "DIN Pro","Arial", sans-serif;
}
  
.respond {
  margin-top: -20px;
  margin-bottom: 40px;
}
  
.accordion {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}
  
.accordion-item {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}
  
.accordion-item__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
  
.accordion-item__trigger {
  display: block;
  padding: 30px;
  color: #2f2e3e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #2f2e3e;
  cursor: pointer;
}
  
.accordion-4 {
  border-top: 1px solid #ffffff;
}
  
.accordion-2 {
  color: #ffffff;
}
  
.accordion-item__content {
  padding-left: 30px;
  border-bottom: 1px solid #ffffff;;
  border-top: none;
  display: none;
}
  
.accordion-item__input:checked ~ .accordion-item__trigger {
  
}
  
.accordion-item__input:checked ~ .accordion-item__content {
  display: block;
}
  
.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding-top: 6px;
}
  
.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid rgba(185, 200, 210, 1); 
  background-position: left 120px center;
  padding-right: 50px;
  padding-left: 10px;
  background-image: url("..//html1-16/img/Vector.svg");
  background-repeat: no-repeat; 
  background-position: right 30px center;
  height: 10px;
  width: 10px;
}
  
.details-icon {
  display: flex;
} 
  
.button-icon {
  margin-top: 30px;
  stroke: #dfe4ee;
  fill: #dfe4ee;
  padding-right: 30px;
}
  
.button-icon:hover path {
  stroke:#ffffff;
  color: #ffffff;
  d: path('M1 1L5.24264 5.24264L9.48528 1');
  transform: translateX(-10px);
  transform: translateY(10px);
  padding-left: 5px;
}
  
.button-icon:hover {
  transform: translateX(-10px);
  fill: #0055b9;
  stroke: #ffffff;
}
  
.details-up-circle:hover {
  transform: translateX(-10px);
  fill: #0055b9;
  stroke: #ffffff;
}
  
.details-up-circle:hover path {
  stroke:#ffffff;
  color: #ffffff;
  d: path('M1 1L5.24264 5.24264L9.48528 1');
  transform: translateX(-10px);
  transform: translateY(10px);
}
  
.circle::after {
  position: absolute;
  content: " ";
  background-image: url("..//html1-16/img/Vector.svg");
  background-repeat: no-repeat; 
  background-position: center;
  height: 10px;
  width: 10px;
}
  
.page-footer {
  display: flex;
}
  
.about-company {
  width: 129px;
  padding-right: 138px;
  margin: 0;
}
  
.company-information {
  width: 184px;
  padding-right: 90px;
  font-family: "DIN Pro bold";
}
  
.disclosure {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}
  
.company {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #2f2e3e;
  text-decoration: none;
  margin-top: 0;
}
  
.orders {
  margin: 0;
}
  
.company-about {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 10px;
}
  
.history {
  margin-top: 12px;
  padding-top: 1px;
  margin-bottom: 10px;
}
  
.information {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #2f2e3e;
  text-decoration: none;
}
  
.vacancy {
  margin-top: 10px;
  padding: 0;
}
  
.news {
  margin-top: -7px;
  padding: 0;
}
  
.information-contacts {
  margin-top: -5px;
}
  
.name {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  margin-top: 8px;
}
  
.address,
.phone,
.email {
  font-family: "DIN Pro bold";
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
  
.phone {
  padding-top: 3px;
  padding-left: 2px;
  margin-bottom: 0;
}
  
.email {
  padding-top: 5px;
  margin-bottom: 0;
}
  
.contacts-address,
.contacts-phone,
.email-contacts {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  padding-top: 0;
  margin-left: 3px;
}
  
.contacts {
  padding-top: 7px;
  width: 228px;
  margin-right: 250px;
}
  
.address {
  padding-top: 12px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 3px;
}
  
.area {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}
  
.welding {
  margin-top: -7px;
}
  
.dismantling {
  margin-top: -4px;
}
  
.pipe {
  margin-top: -5px;
}
  
.painter {
  margin-top: -5px;
}
  
.laboratory {
  margin-top: -4px;
}
  
.area-activity {
  font-family: "DIN Pro bold";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px; 
}
  
.company-area {
  margin-left: 9px;
  margin-top: 7px;
}
  
.area:hover,
.information:hover,
.company:hover,
.email-contacts:hover,
.contacts-address:hover,
.contacts-phone:hover {
  color: #0055b9;
}
  
.accordion-profession {
  display: flex;
  justify-content: space-between;
}
  
.button:hover {
  opacity: 0.8;
  transform: scale(1.2);
}
  
.accordion-profession:hover {
  background-color: #0055b9;
  color: #ffffff;
}
  
.accordion-profession:focus-within {
  outline: 5px solid #ffffff;
}
  
.accordion-item:hover label {
  color: #ffffff;
}
  
.accordion-item__trigger:hover {
  color: #ffffff;
}
  
.about {
  font-family: "DIN Pro bold";
  margin-top: 0;
  padding-top: 0;
}
  
.last {
  margin-bottom: 50px;
}
  
.phones,
.area-information {
  text-decoration: none;
  color: #2f2e3e;
}
  
footer {
  margin-left: 200px;
}